<div class="field-repeater"
     data-control="fieldrepeater"
     data-sortable-container="#<?= $this->getId('items') ?>"
     data-sortable-handle=".<?= $this->getId('items') ?>-handle">

    <ul id="<?= $this->getId('items') ?>" class="field-repeater-items">
        <?php foreach ($this->formWidgets as $index => $widget): ?>
            <?= $this->makePartial('repeater_item', [
                'widget' => $widget,
                'indexValue' => $index
            ]) ?>
        <?php endforeach ?>
    </ul>

    <div class="field-repeater-add-item loading-indicator-container indicator-center">
        <a
            href="javascript:"
            data-request="<?= $this->getEventHandler('onAddItem') ?>"
            data-load-indicator>
            <?= e(trans($prompt)) ?>
        </a>
    </div>

</div>
