<li class="field-repeater-item">

    <div class="repeater-item-handle <?= $this->getId('items') ?>-handle">
        <i class="icon-bars"></i>
    </div>

    <div class="repeater-item-remove">
        <button
            type="button"
            class="close"
            aria-label="Remove"
            data-request="<?= $this->getEventHandler('onRemoveItem') ?>"
            data-request-data="'index': '<?= $indexValue ?>'"
            data-request-success="$(this).closest('.field-repeater-item').remove()"
            data-request-confirm="<?= e(trans('backend::lang.form.action_confirm')) ?>">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="repeater-item-collapse">
        <a href="javascript:" class="repeater-item-collapse-one">
            <i class="icon-chevron-up"></i>
        </a>
    </div>

    <div class="repeater-item-collapsed-title"></div>

    <div class="field-repeater-form"
         data-control="formwidget"
         data-refresh-handler="<?= $this->getEventHandler('onRefresh') ?>"
         data-refresh-data="'_repeater_index': '<?= $indexValue ?>'">
        <?php foreach ($widget->getFields() as $field): ?>
            <?= $widget->renderField($field) ?>
        <?php endforeach ?>
    </div>

    <input type="hidden" name="<?= $indexName ?>" value="<?= $indexValue ?>" />

</li>
