<div data-control="toolbar">
    <a
            href="<?= Backend::url('keios/pluginmother/themes/create') ?>"
            class="btn btn-primary oc-icon-plus">
        <?= \Lang::trans('keios.pluginmother::lang.strings.new_theme') ?>
    </a>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('keios.pluginmother::lang.theme.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', false)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <!--
    <a
            href="<?= Backend::url('keios/pluginmother/themes/export') ?>"
            class="btn btn-primary oc-icon-upload">
        <?= \Lang::trans('keios.pluginmother::lang.strings.export') ?>
    </a>
    <a
            href="<?= Backend::url('keios/pluginmother/themes/import') ?>"
            class="btn btn-primary oc-icon-download">
        <?= \Lang::trans('keios.pluginmother::lang.strings.import') ?>
    </a>
    -->
    <a data-toggle="modal" href="#contentBasic" class="btn btn-primary oc-icon-copy">
        <?= \Lang::trans('keios.pluginmother::lang.strings.copy_theme') ?>
    </a>
</div>

<div class="control-popup modal fade" id="contentBasic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-heading"><?= \Lang::trans('keios.pluginmother::lang.strings.copy_plugin') ?></h4>
            </div>
            <div class="modal-body">
                <form data-request="onCopyTheme" data-stripe-load-indicator>
                    <label for="source_plugin"><?= \Lang::trans('keios.pluginmother::lang.strings.source_plugin') ?></label>
                    <select id="source_plugin" name="source_id" class="form-control" style="margin-bottom: 20px;">
                        <?php foreach($this->getThemes() as $theme){ ?>
                        <option value="<?= $theme->id ?>"><?= $theme->name ?></option>
                        <?php } ?>
                    </select>

                    <label for="theme_name"><?= \Lang::trans('keios.pluginmother::lang.strings.new_theme_name') ?></label>
                    <input class="form-control" id="theme_name" name="theme_name" style="margin-bottom: 20px;"/>
                    <br/>
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 25px;"><?= \Lang::trans('keios.pluginmother::lang.strings.copy') ?></button>
                    <br/><br/><br/>
                </form>
            </div>
        </div>
    </div>
</div>