<?php $licenses = $this->getLicenses(); ?>
<div data-control="toolbar">
    <a
            href="<?= Backend::url('keios/pluginmother/licenseorders/create') ?>"
            class="btn btn-primary oc-icon-plus">
        <?= e(trans('keios.pluginmother::lang.licenseorder.new')) ?>
    </a>
    <!--
    <button id="show-reassign" class="btn btn-primary">Convert Licenses</button>
    <div id="reassign-box" style="display: inline; margin-left: 10px;">
        <select class="reassign-ele form-control" style="display: none; margin-top: 5px; max-width: 300px;" name="new_license">
            <?php foreach($licenses as $license){ ?>
                <option value="<?= $license->id ?>"><?= $license->name ?></option>
            <?php } ?>
        </select>
        <button
                class="btn btn-default oc-icon-refresh reassign-ele"
                style="display: none; margin-right: 10px;"
                disabled="disabled"
                onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
                data-request="onReassignLicense"
                data-trigger-action="enable"
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-request-success="$(this).prop('disabled', false)"
                data-stripe-load-indicator>
            Reassign licenses
        </button>
    </div>
-->

    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('keios.pluginmother::lang.licenseorders.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', false)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
</div>
<script>
    $('document').ready(function () {
        $('#show-reassign').on('click', function () {
            $('.reassign-ele').toggle();
        })

    })
</script>