<h4><?= trans('keios.pluginmother::lang.models.categories') ?></h4>
<?= $this->relationRender('categories') ?>
<hr>
<h4><?= trans('keios.pluginmother::lang.models.groups') ?></h4>
<?= $this->relationRender('groups') ?>