<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('keios/pluginmother/plugins') ?>"><?= \Lang::trans('keios.pluginmother::lang.strings.plugins') ?></a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="<?= \Lang::trans('keios.pluginmother::lang.strings.pulling_plugin') ?>"
                class="btn btn-primary">
            <?= \Lang::trans('keios.pluginmother::lang.strings.save_pull') ?>
        </button>
        <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="<?= \Lang::trans('keios.pluginmother::lang.strings.pulling_plugin') ?>"
                class="btn btn-default">
            <?= \Lang::trans('keios.pluginmother::lang.strings.save_pull_close') ?>
        </button>
        <button
                type="button"
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="<?= \Lang::trans('keios.pluginmother::lang.strings.deleting_plugin') ?>"
                data-request-confirm="<?= \Lang::trans('keios.pluginmother::lang.strings.confirm_plugin_delete') ?>">
        </button>
                <span class="btn-text">
                    <?= \Lang::trans('keios.pluginmother::lang.strings.or') ?> <a href="<?= Backend::url('keios/pluginmother/plugins') ?>"><?= \Lang::trans('keios.pluginmother::lang.strings.cancel') ?></a>
                </span>
    </div>
</div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('keios/pluginmother/plugins') ?>" class="btn btn-default"><?= \Lang::trans('keios.pluginmother::lang.strings.return_to_plugins_list') ?></a></p>

<?php endif ?>
