<table class="table">
    <thead>
    <tr>
        <th>Plugin name</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for plugin in plugins %}
        <tr>
            <td>{{ plugin.name }}</td>
            <td>{{ plugin.excerpt|raw }}</td>
            <td>
                <button class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ plugin.slug }}">Add to
                    project
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% for plugin in plugins %}
    <!-- Modal -->
    <div id="modal-{{ plugin.slug }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Attach {{ plugin.name }} to project</h4>
                </div>
                <div class="modal-body">
                    <form data-request="onAddToProject">
                        <input type="hidden" name="plugin_id" value="{{ plugin.id }}"/>
                        <select class="form-control" name="project">
                            {% for project in projects %}
                                <option value="{{ project.slug }}">{{ project.title }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endfor %}