<table class="table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($formModel->getDetails() as $key => $detail){ ?>
    <tr>
        <td><?= $key ?></td>
        <?php if(is_array($detail)) { ?>
        <td><?= count($detail) ?></td>
        <?php } else { ?>
        <td><?= $detail ?></td>
        <?php } ?>
    </tr>
    <?php } ?>
    </tbody>
</table>
