<div class="create-project">
    <h3>Create new project</h3>
    <form data-request="onCreateProject">
        <input name="title" class="form-control" placeholder="Project name"/>
        <br />
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<hr>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Code</th>
        <th>Created at</th>
        <th>Plugins</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr>
            <td><input name="project_{{ project.slug }}" type="checkbox"/></td>
            <td>{{ project.title }}</td>
            <td>{{ project.code }}</td>
            <td>{{ project.created_at }}</td>
            <td>{% for plugin in project.plugins %}{{ plugin.name }} {% endfor %}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            <button class="btn btn-danger" type="submit">DELETE</button>
        </td>
    </tr>
    </tfoot>
</table>