<div data-control="toolbar">
    <a
            href="<?= Backend::url('keios/pluginmother/projects/create') ?>"
            class="btn btn-primary oc-icon-plus">
        <?= \Lang::trans('keios.pluginmother::lang.strings.new_project') ?>
    </a>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('keios.pluginmother::lang.projects.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', false)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <a data-toggle="modal" href="#contentBasic" class="btn btn-primary oc-icon-copy">
        <?= \Lang::trans('keios.pluginmother::lang.strings.copy_project') ?>
    </a>
</div>

<div class="control-popup modal fade" id="contentBasic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-heading"><?= \Lang::trans('keios.pluginmother::lang.strings.copy_project') ?></h4>
            </div>
            <div class="modal-body">
                <form data-request="onCopyProject" data-stripe-load-indicator>
                    <label for="source_project"><?= \Lang::trans('keios.pluginmother::lang.strings.source_project') ?></label>
                    <select id="source_project" name="source_id" class="form-control" style="margin-bottom: 20px;">
                        <?php foreach($this->getProjects() as $project){ ?>
                        <option value="<?= $project->id ?>"><?= $project->title ?></option>
                        <?php } ?>
                    </select>

                    <label for="project_name"><?= \Lang::trans('keios.pluginmother::lang.strings.new_project_name') ?></label>
                    <input class="form-control" id="project_name" name="project_name" style="margin-bottom: 20px;"/>
                    <br/>
                    <button type="submit" class="btn btn-primary"
                            style="margin-bottom: 25px;"><?= \Lang::trans('keios.pluginmother::lang.strings.copy') ?></button>
                    <br/><br/><br/>
                </form>
            </div>
        </div>
    </div>
</div>
