<?php
$project = $this->getProject();
$multiproject = false;
if($project->hasSubprojects()){
    $multiproject = true;
    $projectOnline = $this->pingSubprojects();
} else {
    $projectOnline = $this->pingProject();
}
if(!$projectOnline){
    $projectOnline = [];
}
?>
<div class="scoreboard-item scorboard-item-true">
    <style>
        .btn-full {
            width: 100%
        }

        .cloud-nodes {
            font-size: 12px;
        }

        .sidebar-header {
            height: 44px;
            width: 100%;
            background: #d0d9dd;
            margin-top: -20px;
        }

        .sidebar-buttons {
            margin-top: 50px;
            text-align: center;
        }
    </style>
    <!-- sidebar start -->
    <div class="sidebar-buttons">
        <?php $onlineCount = 0; ?>
        <!-- subdomains status -->
        <table class="table">
            <thead>
            <tr>
                <th>Domain</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($projectOnline as $domain => $state){ ?>
                <tr>
                    <td style="text-align: left; font-size: 12px;"><?= $domain ?></td>
                    <td style="text-align: left; font-size: 12px;"><?= $state ?> </td>
                </tr>
            <?php if($state == 'Online')
            { ++$onlineCount; }
             }?>
            </tbody>
        </table>
        <!-- end of subdomain status -->
        <hr>
        <?php if($onlineCount > 0) { ?>
        <h4><?= \Lang::trans('keios.pluginmother::lang.messages.project_online') ?></h4>
            <a data-request="onUpdateRemoteProject" class="btn btn-primary btn-full" data-stripe-load-indicator>
                <?= \Lang::trans('keios.pluginmother::lang.strings.update_remote_instance') ?>
            </a>
            <hr>
            <?php if($plugins = $this->getProjectPlugins()){ ?>
                <form data-request="onDisablePlugin" data-stripe-load-indicator>
                    <select class="form-control" name="plugin">
                        <?php foreach($plugins as $plugin){ ?>
                            <option value="<?= $plugin ?>"><?= $plugin ?></option>
                        <?php } ?>
                    </select>
                    <button class="btn btn-warning btn-full">
                        <?= \Lang::trans('keios.pluginmother::lang.strings.disable_plugin') ?>
                    </button>
                </form>
        <br />
            <?php }} else { ?>
        <h4><?= \Lang::trans('keios.pluginmother::lang.messages.project_offline') ?></h4>
        <?php if($project->domain && count($project->cloudnodes) > 0){ ?>
            <button data-request="onInstallOctober"  data-stripe-load-indicator class="btn-full btn btn-primary">Install Project on connected Node</button>
        <?php }} ?>
<hr>
        <a data-toggle="modal" href="#attachPlugins" class="btn btn-primary btn-full oc-icon-plus">
            <?= \Lang::trans('keios.pluginmother::lang.strings.attach_plugin_group') ?>
        </a>
        <br /><br />
        <a data-toggle="modal" href="#unattachPlugins" class="btn btn-warning btn-full oc-icon-times">
            <?= \Lang::trans('keios.pluginmother::lang.strings.unattach_plugin_group') ?>
        </a>
        <hr>

    </div>
    <?php if(count($project->cloudnodes) > 0){ ?>
    <div class="cloud-nodes">
        <p><b>Online Nodes:</b></p>
        <?php foreach($project->cloudnodes as $cloudNode){ ?>

        <p><a href="<?= \Backend::url() ?>/keios/pluginmother/cloudnodes/update/<?= $cloudNode->id ?>"><?= $cloudNode->getRemoteId() ?></a> (<?= $cloudNode->getType() ?>)</p>
        <table class="table" style="font-size: 12px">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($cloudNode->getDetails() as $key => $detail) { ?>
            <tr>
                <td><?= $key ?></td>
                <td>
                    <?php
                    if(is_array($detail)){
                        foreach($detail as $entry){
                          echo $entry;
                        }
                     } else {
                        echo  $detail;
                    } ?>
                </td>
            </tr>
            <?php } ?>
            </tbody>
        </table>
        <?php } ?>
        <?php } else { ?>
        <button data-request="onCreateVultrForProject"  data-stripe-load-indicator class="btn-full btn btn-primary oc-icon-globe">Create Vultr node for
            Project
        </button>
        <?php } ?>
    </div>
</div>

<script>
    var windowWidth = $(window).width();
    var leftSidebarWidth = $('.layout-sidenav').width();
    var breadcrumbWidth = windowWidth - leftSidebarWidth;
    $('.control-breadcrumb').css('width', breadcrumbWidth);
</script>
