<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('keios/pluginmother/projects') ?>"><?= \Lang::trans('keios.pluginmother::lang.strings.projects') ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= \Lang::trans('keios.pluginmother::lang.strings.creating_project') ?>"
                    class="btn btn-primary">
                    <?= \Lang::trans('keios.pluginmother::lang.strings.create') ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= \Lang::trans('keios.pluginmother::lang.strings.creating_project') ?>"
                    class="btn btn-default">
                    <?= \Lang::trans('keios.pluginmother::lang.strings.create_and_close') ?>
                </button>
                <span class="btn-text">
                    <?= \Lang::trans('keios.pluginmother::lang.strings.or') ?> <a href="<?= Backend::url('keios/pluginmother/projects') ?>"><?= \Lang::trans('keios.pluginmother::lang.strings.cancel') ?></a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('keios/pluginmother/projects') ?>" class="btn btn-default"><?= \Lang::trans('keios.pluginmother::lang.strings.return_to_projects_list') ?></a></p>

<?php endif ?>
