<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('keios/pluginmother/projects') ?>"><?= \Lang::trans('keios.pluginmother::lang.strings.projects') ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('keios/pluginmother/projects') ?>" class="btn btn-default"><?= \Lang::trans('keios.pluginmother::lang.strings.return_to_projects_list') ?></a></p>

<?php endif ?>
