<?php Block::put('breadcrumb') ?>
<ul>
    <li>
        <a href="<?= Backend::url('keios/pluginmother/projects') ?>"><?= e(trans('keios.pluginmother::lang.projects.menu_label')) ?></a>
    </li>
    <li><?= e(trans($this->pageTitle)) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?php Block::put('form-contents') ?>

<div class="layout-row min-size">
    <?= $this->formRenderOutsideFields() ?>
</div>

<div class="layout-row">
    <?= $this->formRenderPrimaryTabs() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="<?= e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                class="btn btn-primary">
            <?= e(trans('backend::lang.form.save')) ?>
        </button>
        <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="<?= e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                class="btn btn-default">
            <?= e(trans('backend::lang.form.save_and_close')) ?>
        </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a
                            href="<?= Backend::url('keios/pluginmother/projects/preview/'.$formModel->id) ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
        <button
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="<?= e(trans('backend::lang.form.deleting_name', ['name'=>$formRecordName])) ?>"
                data-request-confirm="<?= e(trans('keios.pluginmother::lang.projects.delete_confirm')) ?>">
        </button>
    </div>
</div>

<?php Block::endPut() ?>

<?php Block::put('form-sidebar') ?>
<div class="hide-tabs">
    <style>
        .control-scrollpanel {
            background: transparent;
            padding-left: 20px;
        }

    </style>
    <div class="sidebar-uborked"><?= $this->makePartial('sidebar') ?></div>
</div>
<?php Block::endPut() ?>

<?php Block::put('body') ?>
<?= Form::open(['class'=>'layout stretch']) ?>
<?= $this->makeLayout('form-with-sidebar') ?>
<?= Form::close() ?>
<?php Block::endPut() ?>

<?php else: ?>
<div class="control-breadcrumb">
    <?= Block::placeholder('breadcrumb') ?>
</div>
<div class="padded-container">
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('keios/pluginmother/projects') ?>"
          class="btn btn-default"><?= e(trans('keios.pluginmother::lang.projects.return_to_list')) ?></a></p>
</div>
<?php endif ?>


<div class="control-popup modal fade" id="attachPlugins">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-heading"><?= \Lang::trans('keios.pluginmother::lang.strings.attach_plugins') ?></h4>
            </div>
            <div class="modal-body">
                <label><?= \Lang::trans('keios.pluginmother::lang.strings.attach_plugins_desc') ?></label>
                <br/>
                <form data-request="onAttachPlugins" data-stripe-load-indicator>
                    <?php foreach($groups as $group) { ?>
                    <input type="checkbox" name="groups[<?= $group->slug ?>]"/> <label
                        style="margin-left: 5px;"><?= $group->name ?></label><br/>
                    <?php } ?>
                    <br/><br/>
                    <button type="submit" class="btn btn-primary">Attach</button>

                </form>
            </div>
            <div class="modal-footer">
                <br/>
            </div>
        </div>
    </div>
</div>

<div class="control-popup modal fade" id="unattachPlugins">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-heading"><?= \Lang::trans('keios.pluginmother::lang.strings.attach_plugins') ?></h4>
            </div>
            <div class="modal-body">
                <label><?= \Lang::trans('keios.pluginmother::lang.strings.attach_plugins_desc') ?></label>
                <br/>
                <form data-request="onUnattachPlugins" data-stripe-load-indicator>
                    <?php foreach($groups as $group) { ?>
                    <input type="checkbox" name="groups[<?= $group->slug ?>]"/> <label
                        style="margin-left: 5px;"><?= $group->name ?></label><br/>
                    <?php } ?>
                    <br/><br/>
                    <button type="submit" class="btn btn-primary">Unattach</button>

                </form>
            </div>
            <div class="modal-footer">
                <br/>
            </div>
        </div>
    </div>
</div>
